﻿
/*** The All So Important RESET! ***/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
   margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

a img {border: none}

aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/************************ Basics ************************/
html {
	width: 100%;
	height: 100%;
}

#header {
    background: -moz-linear-gradient(0% 100% 90deg, rgba(30, 30, 30, 0.95), rgba(50, 50, 50, 0.95)) repeat scroll 0 0 transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(0, 0, 0, 0.8) inset;
	-webkit-box-shadow: rgba(0,0,0,0.7) 0 1px 20px,rgba(0,0,0,0.8) 0 1px 1px inset;
	-moz-box-shadow: rgba(0,0,0,0.7) 0 1px 20px,rgba(0,0,0,0.8) 0 1px 1px inset;
    height: 100px;
    min-width: 720px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#footer {
	background: -moz-linear-gradient(0% 100% 90deg, rgba(30, 30, 30, 0.95), rgba(50, 50, 50, 0.95)) repeat scroll 0 0 transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(0, 0, 0, 0.8) inset;
	-webkit-box-shadow: rgba(0,0,0,0.7) 0 1px 20px,rgba(0,0,0,0.8) 0 1px 1px inset;
	-moz-box-shadow: rgba(0,0,0,0.7) 0 1px 20px,rgba(0,0,0,0.8) 0 1px 1px inset;
    height: 55px;
    min-width: 720px;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 9999;
	background-color: #191919;
}


#content {
	float: left;
    overflow: hidden;
    padding: 110px 0 30px 20px;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #fff;
	background-image: url(../images/stucco.png);
	color: #191919;
	margin: 0 0 1px; height: 100%; 
	line-height: 1.5;
}

body: before {
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   z-index: 100;
}

p {
	margin-bottom: 7px;
}

/* @font-face {
   font-family: 'BoycottRegular';
   src: url('../fonts/BOYCOTT_-webfont.eot');
   src: url('../fonts/BOYCOTT_-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BOYCOTT_-webfont.ttf') format('truetype'),
        url('../fonts/BOYCOTT_-webfont.svg#BoycottRegular') format('svg');
   font-weight: normal;
   font-style: normal;
} */

h1.fontface {
    color: white;
	font-family: 'Sonsie One', cursive;
}

h2.fontface {
    font: 30px/40px 'Sonsie One', cursive;
    letter-spacing: 0;
}
h2.fontface a {
    color: #000!important;
}


p.style1 {
   font: 18px/27px 'Sonsie One', cursive;
}

.col a {
	text-decoration: none;
	color: #03F;
}

a, p a {
	text-decoration: none;
	color: #fff;
}

a:hover { color: #fff; }

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
	position: relative;
}

h1 {
	font-size: 25px;
	line-height: 0.9;
	color:#FFF
	text-align: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#logo h1 {
    font-size: 20px;
    line-height: 0.9;
    margin-bottom: 0;
    padding-bottom: 0;
}


h2 {
    color: #191919;
    font-size: 17px;
    line-height: 1.3;
    margin-top: 7px;
    padding-bottom: 6px;
    text-align: left;
    text-transform: none;
}

h3 {
	font-size: 14px;
	line-height: 0.9;
	color: #191919;
	text-align: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.leftfloat {
   float: left;
   clear: both;
}

h3 span {
	font-size: 12px;
	line-height: 1.4;
	color: white;
	display: block;
	margin-top: 10px;
	text-transform: none;
}

h4 {
	font-size: 23px;
	line-height: 0.9;
	color: white;
	text-align: left;
	margin-bottom: 12px;
	padding-bottom: 10px;
}

h4 span {
	font-size: 12px;
	line-height: 1.4;
	color: white;
	display: block;
	margin-top: 10px;
	text-transform: none;
}

header {
	position: relative;
	background: #191919 ;
	width: 100%;
	height: 100px;
	display: block;
}

header#bottom { 
	 margin: 72px auto; 
}





/************************ Containers ************************/
#container, #container_left, #container_right {
	position: relative;
	width: 100%;
}

#container {
    float: left;
    opacity: 1;
    width: 100%;
	position: relative;
	background-color: transparent;
}

#menu {
    float: left;
	clear:left;
    position: relative;
}

#logo {
    float: left;
    margin: 10px 20px 0;
    position: relative;
    z-index: 99;
}


.news {
	float: left;
	width: 200px;
	position: relative;
	background: transparent;
	padding: 15px;
	padding-right: 100px;
	margin-bottom: 10px;
}

.group3 {
	float: left;
	width: 200px;
	position: relative;
	background: transparent;
	padding: 15px;
	margin-bottom: 10px;
}

#intro {
	width: 960px;
	position: relative;
	float: left;
	height: auto;
	padding: 10px;
	background: transparent;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
}

/************************ Navigation Menu ************************/
#controls {
   /* float: right; */
   /* position: relative; */
}

#controls .buttons {
    margin: 17px 20px;
}

#controls .buttons a:first-of-type {
    border-radius: 5px 0 0 5px;
}

#controls .buttons a:last-of-type, .searchBox a:last-of-type {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.7);
}


#controls .buttons a, #followinkstagram a, .searchBox a, #settingsForm .simplebutton {
    border-right-style: none;
    color: rgba(255, 255, 255, 0.4);
    float: left;
    font: bold 13px/25px Arial,Helvetica,"Helvetica Neue",Geneva,sans-serif;
    height: 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 254, 255, 0.1);
}

#controls .buttons a {
    overflow: hidden;
}

#controls .buttons a.active span {
    background-position: -278px -79px;
    color: #EEEEEE;
    text-shadow: 0 1px #111111;
}

.simplebutton {	
	background: -webkit-gradient(linear,0% 0,0% 100%,to(rgba(255, 255, 255, 0.15)),from(rgba(255, 255, 255, 0.25)));
	background: -moz-linear-gradient(0% 100% 90deg,rgba(255, 255, 255, 0.15),rgba(255, 255, 255, 0.25));
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(255, 255, 255, 0.15) inset;
	-webkit-box-shadow: rgba(255,255,255,0.10) 0 1px 1px,rgba(255,255,255,0.15) 0 1px 1px inset;
	-moz-box-shadow: rgba(255,255,255,0.10) 0 1px 0,rgba(255,255,255,0.15) 0 1px 1px inset;
	text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

.simplebutton:active, a.simplebutton.active {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 2px 10px rgba(0, 0, 0, 0.7) inset;
}

#controls #feedLink span {
    background-position: 0 0;
}

#controls #feedLink.active span {
    background-position: 0 -15px;
}

#controls #meLink span {
    background-position: -15px 0;
}

#controls #meLink.active span {
    background-position: -15px -15px;
}

#controls #likesLink span {
    background-position: -60px 0;
}

#controls #likesLink.active span {
    background-position: -60px -15px;
}

#controls #popularLink.active span {
    background-position: -30px -15px;
}
#controls #popularLink span {
    background-position: -30px 0;
}



#controls .buttons a span.image {
    background: url("../images/menu.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 15px;
    margin: 6px 0 5px 15px;
    padding: 0;
    width: 15px;
}

#controls .buttons a span, .searchBox a span {
    display: block;
    float: left;
    padding: 0 14px 0 5px;
}


#controls .buttons a.noicon span {
    background: none repeat scroll 0 50% transparent;
    padding: 0 16px;
}

#searchBox {
    margin-left: 10px;
}

#searchBox input {
    border: 0 none;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1), 0 0 1px #000000 inset, 0 1px 0 #000000 inset, 0 -1px 0 #000000 inset, 1px 0 0 #000000 inset;
    color: #222222;
    font-family: Arial,Helvetica,"Helvetica Neue",Geneva,sans-serif;
    font-size: 14px;
    height: 27px;
    opacity: 1;
    width: 170px;
}

#controls #searchBox a span, .searchBox a span {
    background: url("../images/search.png") no-repeat scroll 8px 4px transparent;
    padding: 0 16px;
}


#searchBox > span {
    float: left;
}

#searchButton {
    border-radius: 5px 5px 5px 5px !important;
	margin-right: 8px;
	margin-bottom:3px;
}

.clearing {
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow: hidden;
}



/* ---------- gallery styles start here ----------------------- */
.gallery {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery li {
	/* margin: 15px 10px; */
	/* padding: 0 12px; */
	float: left;
	position: relative;
	background: none;
}

.gallery img {
	border-radius: 5px 5px 5px 5px;
    margin-right:7px;
	margin-bottom: 1px
}

.gallery a:hover img {
	border-color: #000;
}

.gallery span {
	width: 185px;
	height: 134px;
	display: block;
	position: absolute;
	top: -6px;
	left: 3px;
	background: url(../images/brush-border.png) no-repeat;
}

#detailed-content {
   float: left;
   width: 400px;
   margin-left: 40px;
}

.gallery a {
	text-decoration: none;
}

img {
	border: none;
}

#sidebar1 {
    float: left;
    padding-left: 10px;
    padding-right: 25px;
    width: 170px;
	padding-top: 15px;
}


#content-inner {
	float: left;
	padding-top:20px;
	
}


#sidebar2 {
   float: left;
   padding-left: 25px;
   padding-top: 25px;
   width: 200px;
}

/* sidebar and footer widget blocks */
aside h3 {
font-size: 19px;
color: #333;
}

aside ul {
list-style: none;
color: #333;
margin: -15px 0 15px 25px;
}

aside li a {
color: #aaa;
}

aside li a:hover {
color: #333;
}

aside  li {
border-bottom: 1px dotted #ccc;}

.alignleft {
   float: left;
   padding-right: 10px;
}

.alignright {
   float: right;
   padding-left: 10px;
}

/* ------------------------- styles for caption rollover */
div.wrapper{  
    position:relative; /* important(so we can absolutely position the description div */  
}  
div.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */ 
	border-radius: 0px 0px 5px 5px;
    margin-bottom: 15px;
    margin-right: 50px;
	width: 306px; 
    left:0px;  
    display:none; /* hide it */  
    /* styling bellow */  
    background-color:black;  
    font-family: 'tahoma';  
    font-size:15px;  
    color:white;  
}  
div.description_content{  
    padding:10px;  
}  

/********* current user **************/

#currentUser {
    float: left;
    margin: 10px 20px;
    position: relative;
    z-index: 99;
}

#userImage {
    background-size: 40px 40px;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

#username {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}

#currentUser .buttons {
    font-size: 11px;
    font-weight: bold;
    left: 49px;
    position: absolute;
    top: 22px;
    width: 300px;
}

#searchchoice {
    margin-left: 15px;
	color:#FFF
}

#searchtools {
	float: right;
	width: 230px;
	
}

#searchchoice label {
    margin: 0 5px;
}

.col {
    float: left;
    font-size: 16px;
    height: 850px;
    margin-right: 40px;
    padding-top: 10px;
    width: 350px;
}

.col h2 {
font-size: 25px;
margin-bottom: 10px;	
}


#currentuserprofile {
	float: left;
	margin-left: 300px;	
}

#copyright {float: left;
			clear:both;
			margin-left:30px;
			margin-right:40px;
			margin-top: 20px;
			color: #FFF}

#hidden {
	display:none;
}
