<!-- basic user template -->
<script type="text/template" id="basic-user-template">
 <a href="#/userdetails/<%= id %>"><img src="<%= images.low_resolution.url %>" /> </a> 
</script>

<!-- user location template -->
<script type="text/template" id="location-user-template">
 <a href="#/user/<%= id %>"><h3><%= name %> </h3></a> 
</script>


<!-- basic user template with captions rollover-->
 <script type="text/template" id="caption-user-tmpl">
 <!-- wrapper div -->  
<div class='wrapper'>  
    <!-- image -->  
     <a href="#/mediadetail/<%= id %>"><img src="<%= images.low_resolution.url %>" /> </a> 
    <!-- description div -->  
    <div class='description'>  
        <!-- description content -->  
        <div class='description_content'><% if (caption != null) { %> <%= caption.text %> <% } else {%> <%= user.full_name %> <%}%></div>  
        <!-- end description content -->  
    </div>  
    <!-- end description div -->  
</div>  
<!-- end wrapper div -->  
</script>


<!-- basic user search template-->
 <script type="text/template" id="search-user-tmpl"> 
    <!-- image -->  
	<h3><%= full_name %></h3>
     <a href="#/user/<%= id %>"><img src="<%= profile_picture %>" /> </a>   
</script>

<!-- current user template-->
<script type="text/template" id="current-user-template">
<div style="background-image: url('<%= profile_picture %>')" id="userImage"></div>
<a id="username" href="/#/user/<%= id %>"><%= username %></a>
<span class="buttons" id="userInfo"><a href="#" id="photosLink" alt="photos"><strong><%= counts.media %></strong> Photos</a> <a href="#" id="followersLink" alt="photos"><strong><%= counts.followed_by %></strong> Follower</a> <a href="#" id="followingLink" alt="photos"><strong><%= counts.follows %></strong> Following</a></span>
</script>


<!--Default menu template -->
<script type="text/template" id="default-menu-tmpl">
<div class="buttons">
<a title="Popular Media" alt="Popular Media" class="simplebutton" href="#/popular/" id="popularLink"><span class="image"></span><span class="text">Popular</span></a>
<a class="simplebutton noicon" href="https://instagram.com/oauth/authorize/?client_id=0eb6633c72664e09b4541819ea3daa80&redirect_uri=http%3A%2F%2Fwww.insta.appicure.com&response_type=token&scope=likes+relationships"><span class="text">Instagram Login</span></a>
</div>
</script>

<!-- full menu template -->
<script type="text/template" id="auth-menu-tmpl">
<div class="buttons">
	<a alt="My Feed" title="My Feed" class="simplebutton" href="#/feed/" id="feedLink"><span class="image"></span><span class="text">Feed</span></a>
<a alt="My Photos" title="My Photos" class="simplebutton" href="#/myphotos/" id="meLink"><span class="image"></span><span class="text">My Photos</span></a>
<a alt="My Liked" title="My Liked" class="simplebutton" href="#/myliked/" id="likesLink"><span class="image"></span><span class="text">My Liked</span></a>
<a title="Popular Media" alt="Popular Media" class="simplebutton" href="#/popular/" id="popularLink"><span class="image"></span><span class="text">Popular</span></a>
<a class="simplebutton noicon" id="logout" href=""><span class="text">Logout</span></a>
<div id="searchtools">
<div id="searchBox">
<span><input type="text" id="search" placeholder=" search by" value=""></span>
<a class="simplebutton" id="searchButton" href="javascript:void(0);"><span>&nbsp;</span></a>
</div>
<div id="searchchoice">
<input name="searchtype" type="radio" checked value="tag"><label>Tag</label>
<input name="searchtype" type="radio" value="user"><label>User</label>
<input name="searchtype" type="radio" value="location"><label>Location</label>
</div>

</div>

</div>
</script>



<!-- detailed view tmpl-->
 <script type="text/template" id="media-detail-template">

<!-- #main content and sidebar area -->
   
      <aside id="sidebar1"><!-- sidebar1 -->
      <h2 class="fontface" id="username"><a href="#/user/<%= user.id %>" ><%= user.full_name %></a></h2> <!-- Title of Page -->
      <br><br><br>
      <img src="<%= user.profile_picture %>" /><br />
	  <h2><%= App.settings.address %></h2><br> 
	  <a href="#" id="followthisuser"><img src="images/follow.png" alt="Follow this user" title="Follow this user"> </a>
	  <a href="#" id="likethisphoto"><img src="images/like.png" alt="Like this photo" title="Like this photo"></a>
      </aside><!-- end of sidebar1 -->

      <section id="content-inner"><!-- #content -->
         <article>
         	<a href="<%= link %>" target="_blank"><img width="470px" src="<%= images.standard_resolution.url %>" /></a>
         </article>

         <article>

         	<p><% if (caption != null ) { caption.text } %></p>
         </article>

      </section><!-- end of #content -->

      <aside id="sidebar2"><!-- sidebar2 -->
	 
	 

         <h3 class="fontface">Likes: <%= likes.count %></h3><br>
		 <ul>
        <% _.each(likes.data, function(data) { %>
         <li><%= data.full_name %></li>
        <% }); %>
		 </ul>
    
        

         <h3 class="fontface">Comments:</h3><br>
         <ul>
 		 <% _.each(comments.data, function(data) { %>
         <li><%= data.text %></li>
        <% }); %>
         </ul>
		 
		 <h3 class="fontface">Creation Date: </br> <%= App.Helpers.timeConverter(created_time) %></h3><br>
		 <h3 class="fontface">Filter: <%= filter %></h3><br>
		 
		 
      </aside><!-- end of sidebar -->
	  </script>
	  
	  <!-- modal instruction box for unauthed users-->
	   <script type="text/template" id="modal-instruction-unauth-template">
			<div id='inline_content' style='padding:10px; background:#fff;'>
			<h1 class="fontface" style="color:#000">Welcome to Instagram Gallery</h1>
			<p>Instagram Gallery enables viewing of your Instagram photos and much, much more. To see the all the options available, such as; viewing feeds, liking photos, following users and searching by tag and user you will need to <a href="https://instagram.com/oauth/authorize/?client_id=0eb6633c72664e09b4541819ea3daa80&redirect_uri=http%3A%2F%2Fwww.insta.appicure.com&response_type=token&scope=likes+relationships">login into Instagram</a></p>
			
			<p>Even without an Instagram account you can still explore todays most popular Instagram photos using this app.</p>
	
		</div>
		
		</script>
	  
	   <!-- modal instruction box for authed users-->
	   
	   <script type="text/template" id="modal-instruction-auth-template">
			<div id='inline_content' style='padding:10px; background:#fff;'>
			<h1 class="fontface" style="color:#000">Welcome <%= full_name %></h1>
			<p>Now you are logged in you can view your feed, see photos you have taken, search for photos by tag, user and location. Enjoy!</p>
			</div>
	  </script>







